<a href="https://colab.research.google.com/github/yongjunleeme/data-engineering-study/blob/master/sql_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlalchemy
import psycopg2

In [4]:
user = 'chesidyong'
password = 'Chesidyong1!'

In [5]:
sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
    user=user,
    password=password
)

In [6]:
sqlalchemy.create_engine(sql_conn_str)

Engine(postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev)

In [7]:
%load_ext sql

In [8]:
%sql postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: chesidyong@dev'

In [10]:
# 연결 테스트
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('c41dd99a69df04044aa4e33ece9c9249', datetime.datetime(2019, 5, 1, 0, 35, 59, 897000)),
 ('fdc0eb412a84fa549afe68373d9087e9', datetime.datetime(2019, 5, 1, 2, 53, 48, 503000)),
 ('0a54b19a13b6712dc04d1b49215423d8', datetime.datetime(2019, 5, 1, 12, 18, 26, 637000)),
 ('a914ecef9c12ffdb9bede64bb703d877', datetime.datetime(2019, 5, 1, 13, 41, 29, 267000)),
 ('05ae14d7ae387b93370d142d82220f1b', datetime.datetime(2019, 5, 1, 14, 17, 54, 83000)),
 ('eddeb82df22554fa67c641e3f8a25566', datetime.datetime(2019, 5, 1, 14, 42, 50, 487000)),
 ('4c4ea5258ef3fb3fb1fc48fee9b4408c', datetime.datetime(2019, 5, 1, 15, 8, 15, 557000)),
 ('8ae1da0fe37c98412768453f82490da2', datetime.datetime(2019, 5, 1, 15, 20, 27, 377000)),
 ('60131a2a3f223dc8f4753bcc5771660c', datetime.datetime(2019, 5, 1, 15, 53, 7, 17000)),
 ('90f4760fcc9b69c13da7368c5c2917f3', datetime.datetime(2019, 5, 1, 16, 15, 43, 423000))]

In [11]:
result = %sql SELECT * FROM raw_data.channel
df = result.DataFrame()

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

In [12]:
df.head()

  channelname
0     Organic
1      Google
2       Naver
3    Facebook
4     Youtube

## Assignment - 1 

### SQL 실습

In [13]:
# 생성
%%sql

CREATE TABLE adhoc.yongjunlee_channel
(
    channel varchar(32) primary key
);

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) Relation "yongjunlee_channel" already exists

[SQL: CREATE TABLE adhoc.yongjunlee_channel
(
    channel varchar(32) primary key
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [14]:
# 입력
%%sql
insert into adhoc.yongjunlee_channel values 
('FACEBOOK'),('GOOGLE');

select * from adhoc.yongjunlee_channel;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.
9 rows affected.

[('Naver',),
 ('Facebook',),
 ('Youtube',),
 ('Instagram',),
 ('tictok',),
 ('FACEBOOK',),
 ('GOOGLE',),
 ('Organic',),
 ('Google',)]

In [15]:
# CATS 기법
# 조회 스키마로 테이블 생성하며 셀렉트 내용을 입력
%%sql

drop table adhoc.yongjunlee_channel;

create table adhoc.yongjunlee_channel as
select distinct
  channel
from raw_data.user_session_channel;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [16]:
# 테이블 수정
# 컬럼 이름 변경
%%sql

alter table adhoc.yongjunlee_channel
  rename channel to channelname;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [17]:
# 데이터 추가
%%sql

insert into adhoc.yongjunlee_channel values ('tictok');

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[]

In [18]:
# 구글, 페이스북 채널 접속 세션수 조회
%%sql

select
  count(1)
from raw_data.user_session_channel
where channel in ('Google', 'Facebook');

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [19]:
# like / ilike
# Google(대소문자 구별 없이) 또는 Facebook 채널로 접속한 사용자 세션수 조회
%%sql

select
  count(1)
from raw_data.user_session_channel
where channel ilike 'Google'
  or channel like 'Facebook';

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [20]:
# like '%'
# 대소문자 구분 없이 o가 포함되지 않는 채널 종류
%%sql

select distinct
  channel
from raw_data.user_session_channel
where channel not like '%o%';

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('Naver',), ('Instagram',), ('Organic',)]

In [27]:
# 스트링 함수 
# LEN - 문자열 길이 조회
# UPPER - 대문자 변환
# LOWER - 소문자 변환
# LEFT(str, N) - 문자열 왼쪽부터 N개를 잘라 반환
# REPLACE(str, expr1, expr2) - 문자열의 expr1 부분을 expr2로 변환
%%sql

select
  len(channelname)
  ,upper(channelname)
  ,lower(channelname)
  ,left(channelname, 4)
  ,replace(upper(left(channelname, 4)), 'OO', 'XX')
from adhoc.yongjunlee_channel;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(9, 'INSTAGRAM', 'instagram', 'Inst', 'INST'),
 (5, 'NAVER', 'naver', 'Nave', 'NAVE'),
 (7, 'YOUTUBE', 'youtube', 'Yout', 'YOUT'),
 (8, 'FACEBOOK', 'facebook', 'Face', 'FACE'),
 (6, 'TICTOK', 'tictok', 'tict', 'TICT'),
 (7, 'ORGANIC', 'organic', 'Orga', 'ORGA'),
 (6, 'GOOGLE', 'google', 'Goog', 'GXXG')]

In [29]:
# 세션이 가장 많이 생기는 시간대 구하기
%%sql

select
  EXTRACT(hour from TS)
  , count(1) as HOUR_COUNT
from RAW_DATA.SESSION_TIMESTAMP
group by 1
order by 2 desc
limit 1;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(15, 15339)]

In [31]:
# 사용자가 가장 많이 생기는 시간대 구하기
%%sql

select
  EXTRACT(hour from ST.TS)
  , COUNT(distinct (USC.USERID))
from RAW_DATA.USER_SESSION_CHANNEL   USC
  join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
group by 1
order by 2 desc
limit 1;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(17, 805)]

In [32]:
# 세션이 가장 많이 생기는 요일 구하기
%%sql

select
  EXTRACT(dow from TS)
  , count(1) as DOW_COUNT
from RAW_DATA.SESSION_TIMESTAMP
group by 1
order by 2 desc
limit 1;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(5, 15091)]

In [34]:
# raw_data.channel 채널별 사용자수 세기
%%sql

select
  CHANNELNAME
  , count(distinct (USERID)) as USER_COUNT_PER_CHANNEL
from RAW_DATA.CHANNEL CA
  left join RAW_DATA.USER_SESSION_CHANNEL USC on CA.CHANNELNAME = USC.CHANNEL
group by 1

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('Organic', 895),
 ('Google', 893),
 ('Instagram', 895),
 ('Naver', 882),
 ('Youtube', 889),
 ('Facebook', 889),
 ('TIKTOK', 0)]

In [35]:
# 251번 사용자의 처음 채널과 마지막 채널 알아내기
# Facebook 첫번째, Google 마지막
%%sql

select
  USERID
  , ROW_NUMBER() over (partition by USERID order by ST.TS) as R
  , MAX() over (partition by USERID order by ST.TS) as MAX_R
from RAW_DATA.USER_SESSION_CHANNEL USC
  inner join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
where USERID = 251;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) function max() does not exist
HINT:  No function matches the given name and argument types. You may need to add explicit type casts.

[SQL: select
  USERID
  , ROW_NUMBER() over (partition by USERID order by ST.TS) as R
  , MAX() over (partition by USERID order by ST.TS) as MAX_R
from RAW_DATA.USER_SESSION_CHANNEL USC
  inner join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
where USERID = 251;]
(Background on this error at: http://sqlalche.me/e/13/f405)

# Assignment - 2

## Gross Revenue 가장 큰 UserID 10개 찾기

*   refund

In [36]:
%%sql

select
  USERID
  , GROSS_REVENUE
from (
    select
      USERID
      , sum(nvl(AMOUNT, 0)) as GROSS_REVENUE
    from RAW_DATA.SESSION_TRANSACTION ST
      join RAW_DATA.USER_SESSION_CHANNEL USC on USC.SESSIONID = ST.SESSIONID
      group by 1
    ) TOP_USER_REVENUE
order by 2 desc
limit 10;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

# Assignment - 3

## 채널별 월매출액 테이블 만들기



*   session_timestamp, user_session_channel, channel, transaction 테이블 사용
*   channel에 있는 모든 채널에 대해 구성해야 함 (값이 없는 경우라도) 아래와 같은 필드로 구성
  *   month, channel
  *   uniqueUsers (총방문 사용자)
  *   paidUsers (구매 사용자)
  *   conversionRate(구매사용자 / 총방문 사용자)
  *   grossRevenue (refund 포함)
  *   netRevenue (refund 제외)

In [38]:
%%sql

drop table if exists ADHOC.yongjunlee_MONTHLY_REVENUE_CHANNEL;

create table ADHOC.yongjunlee_MONTHLY_REVENUE_CHANNEL as
select
    CHANNEL_MONTHS.YEAR_MONTH
  , CHANNEL_MONTHS.CHANNELNAME
  , nvl(UNIQUE_USERS, 0)    as UNIQUE_USERS
  , nvl(PAID_USERS, 0)      as PAID_USERS
  , nvl(CONVERSION_RATE, 0) as CONVERSION_RATE
  , nvl(GROSS_REVENUE, 0)   as GROSS_REVENUE
  , nvl(NET_REVENUE, 0)     as NET_REVENUE
from (
     select
         CHANNELNAME
       , YEAR_MONTH
     from (
          select distinct
              CHANNELNAME
          from RAW_DATA.CHANNEL
          )     C
          cross join
              (
              select distinct
                  left(TS, 7) as YEAR_MONTH
              from RAW_DATA.SESSION_TIMESTAMP
              ) MONTHS
     )           CHANNEL_MONTHS
     left join (
               select
                   C.CHANNELNAME
                 , left(ST.TS, 7)                                                                     as YEAR_MONTH
                 , count(distinct USERID)                                                             as UNIQUE_USERS
                 , count(distinct case when AMOUNT is not null and REFUNDED is false then USERID end) as PAID_USERS
                 , sum(nvl(AMOUNT, 0))                                                                as GROSS_REVENUE
                 , sum(case when REFUNDED is false then AMOUNT else 0 end)                            as NET_REVENUE
                 , round(count(distinct case when AMOUNT is not null and REFUNDED is false then USERID end)::DECIMAL * 100 / nullif(count(distinct USERID), 0), 2) as CONVERSION_RATE
               from RAW_DATA.CHANNEL                        C
                    left join RAW_DATA.USER_SESSION_CHANNEL USC
                              on C.CHANNELNAME = USC.CHANNEL
                    left join RAW_DATA.SESSION_TRANSACTION  STR on USC.SESSIONID = STR.SESSIONID
                    left join RAW_DATA.SESSION_TIMESTAMP    ST on USC.SESSIONID = ST.SESSIONID
               group by 1, 2
               order by 1, 2
               ) DATAS
               on CHANNEL_MONTHS.CHANNELNAME = DATAS.CHANNELNAME
                   and CHANNEL_MONTHS.YEAR_MONTH = DATAS.YEAR_MONTH
order by 1, 2;

select * from ADHOC.yongjunlee_MONTHLY_REVENUE_CHANNEL;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
49 rows affected.

[('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Naver', 237, 10, Decimal('4.22'), 867, 844),
 ('2019-05', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Instagram', 410, 20, Decimal('4.88'), 1462, 1418),
 ('2019-06', 'Organic', 416, 12, Decimal('2.88'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Google', 556, 19, Decimal('3.42'), 1558, 1385),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-07', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Instagram', 621, 26, Decimal('4.19'), 2129, 2001),
 ('2019-08', 'Organic', 608, 25, Decimal('4.11'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 16, Decimal('2.61'), 987, 950),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-09', 'Instagram', 588, 18, Decimal('3.06'), 1260, 1122),
 ('2019-09', 'Organic', 592, 23, Decimal('3.89'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-10', 'Google', 699, 29, Decimal('4.15'), 2150, 2098),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-10', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-11', 'Google', 688, 25, Decimal('3.63'), 2286, 2235),
 ('2019-11', 'Naver', 667, 23, Decimal('3.45'), 2234, 1987),
 ('2019-11', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-05', 'Facebook', 247, 11, Decimal('4.45'), 1199, 997),
 ('2019-05', 'Instagram', 234, 9, Decimal('3.85'), 959, 770),
 ('2019-05', 'Organic', 238, 15, Decimal('6.30'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 10, Decimal('4.10'), 529, 529),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-07', 'Facebook', 558, 31, Decimal('5.56'), 2222, 2144),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.23'), 1896, 1766),
 ('2019-07', 'Organic', 557, 24, Decimal('4.31'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 34, Decimal('6.03'), 2210, 2037),
 ('2019-08', 'Google', 610, 23, Decimal('3.77'), 2210, 1894),
 ('2019-08', 'Naver', 626, 19, Decimal('3.04'), 1829, 1551),
 ('2019-08', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-09', 'Google', 599, 23, Decimal('3.84'), 1872, 1691),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-09', 'TIKTOK', 0, 0, Decimal('0.00'), 0, 0),
 ('2019-10', 'Facebook', 698, 28, Decimal('4.01'), 1650, 1641),
 ('2019-10', 'Instagram', 707, 31, Decimal('4.38'), 2568, 2395),
 ('2019-10', 'Organic', 709, 29, Decimal('4.09'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 31, Decimal('4.40'), 2492, 2319),
 ('2019-11', 'Facebook', 688, 26, Decimal('3.78'), 1678, 1678),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116),
 ('2019-11', 'Organic', 677, 31, Decimal('4.58'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 44, Decimal('6.50'), 3532, 3331)]