<a href="https://colab.research.google.com/github/yongjunleeme/data-engineering-study/blob/master/sql_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import sqlalchemy
import psycopg2

In [43]:
# 자신의 환경에 맞게 업데이트
user = ''
password = ''

In [44]:
sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
    user=user,
    password=password
)

In [45]:
sqlalchemy.create_engine(sql_conn_str)

Engine(postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev)

In [46]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [47]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: chesidyong@dev'

In [48]:
# 연결 테스트
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('c41dd99a69df04044aa4e33ece9c9249', datetime.datetime(2019, 5, 1, 0, 35, 59, 897000)),
 ('fdc0eb412a84fa549afe68373d9087e9', datetime.datetime(2019, 5, 1, 2, 53, 48, 503000)),
 ('0a54b19a13b6712dc04d1b49215423d8', datetime.datetime(2019, 5, 1, 12, 18, 26, 637000)),
 ('a914ecef9c12ffdb9bede64bb703d877', datetime.datetime(2019, 5, 1, 13, 41, 29, 267000)),
 ('05ae14d7ae387b93370d142d82220f1b', datetime.datetime(2019, 5, 1, 14, 17, 54, 83000)),
 ('eddeb82df22554fa67c641e3f8a25566', datetime.datetime(2019, 5, 1, 14, 42, 50, 487000)),
 ('4c4ea5258ef3fb3fb1fc48fee9b4408c', datetime.datetime(2019, 5, 1, 15, 8, 15, 557000)),
 ('8ae1da0fe37c98412768453f82490da2', datetime.datetime(2019, 5, 1, 15, 20, 27, 377000)),
 ('60131a2a3f223dc8f4753bcc5771660c', datetime.datetime(2019, 5, 1, 15, 53, 7, 17000)),
 ('90f4760fcc9b69c13da7368c5c2917f3', datetime.datetime(2019, 5, 1, 16, 15, 43, 423000))]

In [49]:
result = %sql SELECT * FROM raw_data.channel
df = result.DataFrame()

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

In [57]:
df.head()

  channelname
0     Organic
1      Google
2       Naver
3    Facebook
4     Youtube

## Assignment - 1 

### SQL 실습

In [60]:
# 생성
%%sql

CREATE TABLE adhoc.yongjunlee_channel
(
    channel varchar(32) primary key
);

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) Relation "yongjunlee_channel" already exists

[SQL: CREATE TABLE adhoc.yongjunlee_channel
(
    channel varchar(32) primary key
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [62]:
# 입력
%%sql
insert into adhoc.yongjunlee_channel values 
('FACEBOOK'),('GOOGLE');

select * from adhoc.yongjunlee_channel;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.
8 rows affected.

[('Organic',),
 ('Google',),
 ('Naver',),
 ('Facebook',),
 ('Youtube',),
 ('Instagram',),
 ('FACEBOOK',),
 ('GOOGLE',)]

In [63]:
# CATS 기법
# 조회 스키마로 테이블 생성하며 셀렉트 내용을 입력
%%sql

drop table adhoc.yongjunlee_channel;

create table adhoc.yongjunlee_channel as
select distinct
  channel
from raw_data.user_session_channel;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [65]:
# 테이블 수정
# 컬럼 이름 변경
%%sql

alter table adhoc.yongjunlee_channel
  rename channel to channelname;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [67]:
# 데이터 추가
%%sql

insert into adhoc.yongjunlee_channel values ('tictok');

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[]

In [68]:
# 구글, 페이스북 채널 접속 세션수 조회
%%sql

select
  count(1)
from raw_data.user_session_channel
where channel in ('Google', 'Facebook');

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [70]:
# like / ilike
# Google(대소문자 구별 없이) 또는 Facebook 채널로 접속한 사용자 세션수 조회
%%sql

select
  count(1)
from raw_data.user_session_channel
where channel ilike 'Google'
  or channel like 'Facebook';

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [72]:
# like '%'
# 대소문자 구분 없이 o가 포함되지 않는 채널 종류
%%sql

select distinct
  channel
from raw_data.user_session_channel
where channel not like '%o%';

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('Naver',), ('Instagram',), ('Organic',)]

In [73]:
# 스트링 함수 
# LEN - 문자열 길이 조회
# UPPER - 대문자 변환
# LOWER - 소문자 변환
# LEFT(str, N) - 문자열 왼쪽부터 N개를 잘라 반환
# REPLACE(str, expr1, expr2) - 문자열의 expr1 부분을 expr2로 변환
%%sql

select
  len(channelname)
  ,upper(channelname)
  ,lower(channelname)
  ,left(channelname, 4)
  ,replace(upper(left(channelname, 4)), 'OO', 'XX')
from adhoc.yongjunlee_channel;

 * postgresql://chesidyong:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(7, 'ORGANIC', 'organic', 'Orga', 'ORGA'),
 (6, 'GOOGLE', 'google', 'Goog', 'GXXG'),
 (5, 'NAVER', 'naver', 'Nave', 'NAVE'),
 (8, 'FACEBOOK', 'facebook', 'Face', 'FACE'),
 (7, 'YOUTUBE', 'youtube', 'Yout', 'YOUT'),
 (9, 'INSTAGRAM', 'instagram', 'Inst', 'INST'),
 (6, 'TICTOK', 'tictok', 'tict', 'TICT')]

In [ ]:
# 세션이 가장 많이 생기는 시간대 구하기부터