<a href="https://colab.research.google.com/github/yongjunleeme/data-engineering-study/blob/master/%EC%8B%A4%EC%8A%B5_Simple_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = ""
    redshift_pass = ""
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# ETL 함수를 하나씩 정의

In [ ]:
import requests

def extract(url):
    f = requests.get(link)
    return (f.text)

In [ ]:
def transform(text):
    lines = text.split("\n")
    return lines

In [ ]:
def load(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;TRUNCATE TABLE;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');END;
    cur = get_Redshift_connection()
    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO (본인의스키마).name_gender VALUES ('{name}', '{gender}')".format(name=name, gender=gender)
            print(sql)
            cur.execute(sql)

# 이제 Extract부터 함수를 하나씩 실행

In [ ]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [ ]:
lines = transform(data)

In [ ]:
load(lines)

name - gender
INSERT INTO raw_data.name_gender VALUES ('name', 'gender')
Adaleigh - F
INSERT INTO raw_data.name_gender VALUES ('Adaleigh', 'F')
Amryn - Unisex
INSERT INTO raw_data.name_gender VALUES ('Amryn', 'Unisex')
Apurva - Unisex
INSERT INTO raw_data.name_gender VALUES ('Apurva', 'Unisex')
Aryion - M
INSERT INTO raw_data.name_gender VALUES ('Aryion', 'M')
Alixia - F
INSERT INTO raw_data.name_gender VALUES ('Alixia', 'F')
Alyssarose - F
INSERT INTO raw_data.name_gender VALUES ('Alyssarose', 'F')
Arvell - M
INSERT INTO raw_data.name_gender VALUES ('Arvell', 'M')
Aibel - M
INSERT INTO raw_data.name_gender VALUES ('Aibel', 'M')
Atiyyah - F
INSERT INTO raw_data.name_gender VALUES ('Atiyyah', 'F')
Adlie - F
INSERT INTO raw_data.name_gender VALUES ('Adlie', 'F')
Anyely - F
INSERT INTO raw_data.name_gender VALUES ('Anyely', 'F')
Aamoni - F
INSERT INTO raw_data.name_gender VALUES ('Aamoni', 'F')
Ahman - M
INSERT INTO raw_data.name_gender VALUES ('Ahman', 'M')
Arlane - F
INSERT INTO raw_data.name_gender VALUES ('Arlane', 'F')
Armoney - F
INSERT INTO raw_data.name_gender VALUES ('Armoney', 'F')
Atzhiry - F
INSERT INTO raw_data.name_gender VALUES ('Atzhiry', 'F')
Antonette - F
INSERT INTO raw_data.name_gender VALUES ('Antonette', 'F')
Akeelah - F
INSERT INTO raw_data.name_gender VALUES ('Akeelah', 'F')
Abdikadir - M
INSERT INTO raw_data.name_gender VALUES ('Abdikadir', 'M')
Arinze - M
INSERT INTO raw_data.name_gender VALUES ('Arinze', 'M')
Arshaun - M
INSERT INTO raw_data.name_gender VALUES ('Arshaun', 'M')
Alexandro - M
INSERT INTO raw_data.name_gender VALUES ('Alexandro', 'M')
Ayriauna - F
INSERT INTO raw_data.name_gender VALUES ('Ayriauna', 'F')
Aqib - M
INSERT INTO raw_data.name_gender VALUES ('Aqib', 'M')
Alleya - F
INSERT INTO raw_data.name_gender VALUES ('Alleya', 'F')
Aavah - F
INSERT INTO raw_data.name_gender VALUES ('Aavah', 'F')
Anesti - Unisex
INSERT INTO raw_data.name_gender VALUES ('Anesti', 'Unisex')
Adalaide - F
INSERT INTO raw_data.name_gender VALUES ('Adalaide', 'F')
Analena - F
INSERT INTO raw_data.name_gender VALUES ('Analena', 'F')
Alaeyah - F
INSERT INTO raw_data.name_gender VALUES ('Alaeyah', 'F')
Albena - F
INSERT INTO raw_data.name_gender VALUES ('Albena', 'F')
Aimi - F
INSERT INTO raw_data.name_gender VALUES ('Aimi', 'F')
Adwaith - M
INSERT INTO raw_data.name_gender VALUES ('Adwaith', 'M')
Arkady - M
INSERT INTO raw_data.name_gender VALUES ('Arkady', 'M')
Astyn - Unisex
INSERT INTO raw_data.name_gender VALUES ('Astyn', 'Unisex')
Adelee - F
INSERT INTO raw_data.name_gender VALUES ('Adelee', 'F')
Agata - F
INSERT INTO raw_data.name_gender VALUES ('Agata', 'F')
Alegna - F
INSERT INTO raw_data.name_gender VALUES ('Alegna', 'F')
Altan - M
INSERT INTO raw_data.name_gender VALUES ('Altan', 'M')
Ahnaleigh - F
INSERT INTO raw_data.name_gender VALUES ('Ahnaleigh', 'F')
Algie - Unisex
INSERT INTO raw_data.name_gender VALUES ('Algie', 'Unisex')
Ashanti - F
INSERT INTO raw_data.name_gender VALUES ('Ashanti', 'F')
Aislyn - F
INSERT INTO raw_data.name_gender VALUES ('Aislyn', 'F')
Adaleine - F
INSERT INTO raw_data.name_gender VALUES ('Adaleine', 'F')
Anthnoy - M
INSERT INTO raw_data.name_gender VALUES ('Anthnoy', 'M')
Algernon - M
INSERT INTO raw_data.name_gender VALUES ('Algernon', 'M')
Aeryona - F
INSERT INTO raw_data.name_gender VALUES ('Aeryona', 'F')
Adrinne - F
INSERT INTO raw_data.name_gender VALUES ('Adrinne', 'F')
Addell - F
INSERT INTO raw_data.name_gender VALUES ('Addell', 'F')
Avril - F
INSERT INTO raw_data.name_gender VALUES ('Avril', 'F')
Ahni - F
INSERT INTO raw_data.name_gender VALUES ('Ahni', 'F')
Aimon - M
INSERT INTO raw_data.name_gender VALUES ('Aimon', 'M')
Adolpho - M
INSERT INTO raw_data.name_gender VALUES ('Adolpho', 'M')
Ahuva - F
INSERT INTO raw_data.name_gender VALUES ('Ahuva', 'F')
Aurielle - F
INSERT INTO raw_data.name_gender VALUES ('Aurielle', 'F')
Aveana - F
INSERT INTO raw_data.name_gender VALUES ('Aveana', 'F')
Aliyia - F
INSERT INTO raw_data.name_gender VALUES ('Aliyia', 'F')
Alesander - M
INSERT INTO raw_data.name_gender VALUES ('Alesander', 'M')
Adnrea - F
INSERT INTO raw_data.name_gender VALUES ('Adnrea', 'F')
Anjae - F
INSERT INTO raw_data.name_gender VALUES ('Anjae', 'F')
Alvine - F
INSERT INTO raw_data.name_gender VALUES ('Alvine', 'F')
Adorah - F
INSERT INTO raw_data.name_gender VALUES ('Adorah', 'F')
Adlemi - F
INSERT INTO raw_data.name_gender VALUES ('Adlemi', 'F')
Alesi - F
INSERT INTO raw_data.name_gender VALUES ('Alesi', 'F')
Alontae - M
INSERT INTO raw_data.name_gender VALUES ('Alontae', 'M')
Antonny - M
INSERT INTO raw_data.name_gender VALUES ('Antonny', 'M')
Adarah - F
INSERT INTO raw_data.name_gender VALUES ('Adarah', 'F')
Ayreanna - F
INSERT INTO raw_data.name_gender VALUES ('Ayreanna', 'F')
Antyon - M
INSERT INTO raw_data.name_gender VALUES ('Antyon', 'M')
Andia - F
INSERT INTO raw_data.name_gender VALUES ('Andia', 'F')
Ashla - F
INSERT INTO raw_data.name_gender VALUES ('Ashla', 'F')
Aspyn - F
INSERT INTO raw_data.name_gender VALUES ('Aspyn', 'F')
Antwanett - F
INSERT INTO raw_data.name_gender VALUES ('Antwanett', 'F')
Aundreia - F
INSERT INTO raw_data.name_gender VALUES ('Aundreia', 'F')
Audella - F
INSERT INTO raw_data.name_gender VALUES ('Audella', 'F')
Amari - Unisex
INSERT INTO raw_data.name_gender VALUES ('Amari', 'Unisex')
Arsha - Unisex
INSERT INTO raw_data.name_gender VALUES ('Arsha', 'Unisex')
Aricella - F
INSERT INTO raw_data.name_gender VALUES ('Aricella', 'F')
Adan - M
INSERT INTO raw_data.name_gender VALUES ('Adan', 'M')
Apasra - F
INSERT INTO raw_data.name_gender VALUES ('Apasra', 'F')
Alaysha - F
INSERT INTO raw_data.name_gender VALUES ('Alaysha', 'F')
Anderson - M
INSERT INTO raw_data.name_gender VALUES ('Anderson', 'M')
Aurelius - M
INSERT INTO raw_data.name_gender VALUES ('Aurelius', 'M')
Aerial - F
INSERT INTO raw_data.name_gender VALUES ('Aerial', 'F')
Averleigh - F
INSERT INTO raw_data.name_gender VALUES ('Averleigh', 'F')
Aslean - F
INSERT INTO raw_data.name_gender VALUES ('Aslean', 'F')
Arniesha - F
INSERT INTO raw_data.name_gender VALUES ('Arniesha', 'F')
Asyana - F
INSERT INTO raw_data.name_gender VALUES ('Asyana', 'F')
Annjane - F
INSERT INTO raw_data.name_gender VALUES ('Annjane', 'F')
Amabella - F
INSERT INTO raw_data.name_gender VALUES ('Amabella', 'F')
Austinjohn - M
INSERT INTO raw_data.name_gender VALUES ('Austinjohn', 'M')
Arloween - F
INSERT INTO raw_data.name_gender VALUES ('Arloween', 'F')
Alula - M
INSERT INTO raw_data.name_gender VALUES ('Alula', 'M')
Anemone - F
INSERT INTO raw_data.name_gender VALUES ('Anemone', 'F')
Amorina - F
INSERT INTO raw_data.name_gender VALUES ('Amorina', 'F')
Anureet - F
INSERT INTO raw_data.name_gender VALUES ('Anureet', 'F')
Arric - M
INSERT INTO raw_data.name_gender VALUES ('Arric', 'M')
Antonne - M
INSERT INTO raw_data.name_gender VALUES ('Antonne', 'M')
Alyre - M
INSERT INTO raw_data.name_gender VALUES ('Alyre', 'M')
Annaise - F
INSERT INTO raw_data.name_gender VALUES ('Annaise', 'F')